header {
  background-color: $primary-color;
}

.main_logo_image {
  float: left;
  margin: 1.9em .6em 1em .5em;
  height: 3em;
  width: 3em;
  background: url(../images/ball-icon.png);
  background-size: 3em 3em;
  -moz-transition: background .2s linear;
  transition: background .2s linear;
}

.main_logo_text {
  position: relative;
  display: inline-block;
  margin: .6em 0 .5em 0;
  padding-top: .15em;
  color: $white;
  text-decoration: none;
  font-size: 3em;
  font-family: $primary-font-bold;
  transition: color .2s linear;
  -moz-transition: color .2s linear;
}

.main_logo a:hover .main_logo_text {
  color: $highlight-color;
}

.main_logo a:hover .main_logo_image {
  background: url(../images/ball-icon-alt.png);
  background-size: 3em 3em;
}

.icon-menu, .icon-cross {
  float: right;
  margin: -1.85em .5em 0 0;
  color: $white;
  cursor: pointer;
  font-size: 2.5em;
  @media (min-width: 50em) {
    display: none;
  }
}

.main_nav {
  display: none;
  margin: 0em;
  @media (min-width: 50em) {
    display: inline-block !important;
    float: right;
    margin-top: -4.8em;
  }
  .main_nav_item {
    padding: 1.2em 0 .8em 2em;
    border-bottom: .1em solid $white;
    transition: background-color .2s linear, box-shadow .2s linear;
    @media (min-width: 50em) {
      display: inline-block;
      margin: 0 .5em;
      padding: .8em .7em .5em .7em;
      border-bottom: none;
      border-radius: .5em;
    }
    &:hover {
      background-color: $highlight-color;
      border-radius: 0;
      @media (min-width: 50em) {
        background-color: $primary-color;
        border-radius: .5em;
        box-shadow: 0 0 .35em .1em $highlight-color;
      }
    }
  }

  a {
    color: $white;
    text-decoration: none;
    font-size: 1.2em;
  }
  .last {
    border-bottom: none;
  }
}
