/* -----LEMONADE GRID----- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.frame {
  margin: 0 auto;
  max-width: 100%; }
  .frame:after {
    content: "";
    display: table;
    clear: both; }

[class*='bit-'] {
  float: left;
  padding: 0.3em; }

.bit-1 {
  width: 100%; }

.bit-2 {
  width: 50%; }

.bit-3 {
  width: 33.33333%; }

.bit-4 {
  width: 25%; }

.bit-5 {
  width: 20%; }

.bit-6 {
  width: 16.66667%; }

.bit-7 {
  width: 14.28571%; }

.bit-8 {
  width: 12.5%; }

.bit-9 {
  width: 11.11111%; }

.bit-10 {
  width: 10%; }

.bit-11 {
  width: 9.09091%; }

.bit-12 {
  width: 8.33333%; }

.bit-25 {
  width: 25%; }

.bit-40 {
  width: 40%; }

.bit-60 {
  width: 60%; }

.bit-75 {
  width: 75%; }

@media (max-width: 30em) {
  .bit-1 {
    width: 100%; }
  .bit-2 {
    width: 100%; }
  .bit-3 {
    width: 100%; }
  .bit-4 {
    width: 100%; }
  .bit-5 {
    width: 100%; }
  .bit-6 {
    width: 100%; }
  .bit-7 {
    width: 100%; }
  .bit-8 {
    width: 100%; }
  .bit-9 {
    width: 100%; }
  .bit-10 {
    width: 100%; }
  .bit-11 {
    width: 100%; }
  .bit-12 {
    width: 100%; } }

@media (min-width: 30em) and (max-width: 50em) {
  .bit-4, .bit-6, .bit-8, .bit-10, .bit-12 {
    width: 50%;
  }

  .bit-1, .bit-2, .bit-3, .bit-5, .bit-7, .bit-9, .bit-11 {
    width: 100%;
  }
}

@media (min-width: 50em) and (max-width: 68.75em) {
  .bit-2, .bit-7 {
    width: 100%;
  }
  .bit-4, .bit-8, .bit-10, .bit-12 {
    width: 50%;
  }
}

.box {
  background: #FCD920;
  font-family: "Futura", sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 20px 0;
}

.box--new {
  background: #87D37C;
}

/* -----LAYOUT----- */

/* ---HEADER--- */

.main_logo_image {
  float: left;
  margin: 1.9em .6em 1em .5em;
}

.main_logo_text {
  position: relative;
  display: inline-block;
  margin: .6em 0 .5em 0;
  padding-top: .15em;
}

.icon-menu, .icon-cross {
  float: right;
  margin: -1.85em .5em 0 0;
}

.main_nav {
  display: none;
  margin: 0em;
}

.main_nav_item {
  padding: 1.2em 0 .8em 2em;
}

@media (min-width: 50em) {
  .icon-menu, .icon-cross {
    display: none;
  }

  .main_nav {
    display: inline-block !important;
    float: right;
    margin-top: -4.8em;
  }

  .main_nav_item {
    display: inline-block;
    margin: 0 .5em;
    padding: .8em .7em .5em .7em;
  }
}

/* ---HOME--- */

/*-all article-*/

.home_article, .about_article, .map_article, .signup_article {
  padding: 6em 0;
}

.home_article a {
  padding: .7em .7em .5em .7em;
}

/*-welcome article-*/

.home_article > p {
  width: 80%;
  margin: 0 auto;
  margin: 3em auto;
}

/*-players article-*/

.article_two_cards {
  margin: 0 auto 5em auto;
}

.home_player_card {
  padding: 1.3em 1em 1.1em 1em;
}

/*-courts article-*/

.article_three img {
  width: 180%;
  margin: 4em 0 6em -40%;
}

@media (min-width: 50em) {
  .article_three img {
    width: 100%;
    margin: 4em auto 6em auto;
  }
}


/* ---COURTS--- */

.map_article_note {
  margin: 2em auto;
}

.map_article h1 {
  margin-bottom: 1em;
}

.map_article p {
  width: 80%;
  margin: 1em auto 0em auto;
}

#map-canvas {
  width: 80%;
  margin: 0 auto;
  height: 32em;
}

.map_article {
    margin-bottom: 2em;
  }

@media (min-width: 50em) {
  #map-canvas {
    width: 100%;
  }
  .map_article {
    margin-bottom: 0;
  }
}

.map_marker p {
  margin: .5em 0 1em 0;
}

.map_marker a {
  padding: .3em .3em .1em .3em;
}

/* ---ABOUT--- */

.about_article p {
  width: 80%;
  margin: 2em auto 0em auto;
}

.about_article img {
  width: 70%;
}

.about_article section {
  margin-top: 3em;
}

.created_by p {
  width: 80%;
  margin: 1em auto 0 auto;
}

/* ---SIGN UP--- */

.signup_article p {
  width: 80%;
  margin: 2em auto 0em auto;
}

#create-account-form {
  width: 90%;
  margin: 0 auto;
}

.form_section input, .form_section select {
  width: 100%;
  height: 4em;
  margin: .5em 0 2em 0;
}

#skill-level {
  margin-bottom: 0;
}

.form_section input {
  padding: 1em;
}

.form_section button {
  width: 100%;
  height: 2em;
  padding-top: .2em;
}

.ranking_link {
  display: inline-block;
  margin-bottom: 2em;
}

@media (min-width: 50em) {
  #create-account-form {
    width: 60%;
  }
}

/* ---FOOTER--- */

footer {
  padding: 1em;
}

footer p {
  margin-bottom: .5em;
}
