.main_nav_item:hover {
  background-color: #BC6661;
  border-radius: 0;
}

.main_logo a:hover .main_logo_text {
  color: #BC6661;
}

.main_logo a:hover .main_logo_image {
  background: url(../images/ball-icon-alt.png);
  background-size: 3em 3em;
}

@media (min-width: 50em) {
  .main_nav_item:hover {
    background-color: #BC6661;
    border-radius: .5em;
  }
}

.article_one a:hover {
  background-color: #BC6661;
}

.article_two a:hover, .article_three a:hover {
  background-color: #BC6661;
  color: white;
  border: 1px solid #BC6661;
}

footer a:hover {
  color: #BC6661;
}
