.main_nav_item:hover {
  background-color: #BC6661;
  border-radius: 0;
}

.main_logo a:hover .main_logo_text {
  color: #BC6661;
}

.main_logo a:hover .main_logo_image {
  background: url(../images/ball-icon-alt.png);
  background-size: 3em 3em;
}

@media (min-width: 50em) {
  .main_nav_item:hover {
    background-color: #61BC84;
    border-radius: .5em;
    box-shadow: 0 0 .35em .1em #BC6661;
  }
}

.article_one a:hover {
  background-color: #BC6661;
  border: .1em solid #BC6661;
}

.article_two a:hover, .article_three a:hover, .about_article > a:hover, .map_marker a:hover, .create_button:hover, .player_card_info a:hover, .confirm_message a:hover {
  background-color: #BC6661;
  color: white;
  border: .1em solid #BC6661;
}

footer a:hover {
  color: #BC6661;
}

.create_button:hover {
  cursor: pointer;
}

.player_card_info:hover, .home_player_card:hover {
  box-shadow: 0 0 .35em .1em rgba(97, 188, 132, .5);
}

.ranking_link:hover {
  color: #BC6661;
}

.congrats_message:hover {
  background-color: transparent;
  color: black;
  border: none;
  cursor: default;
}

.congrats_message:focus {
  outline: none;
}
