/* -----STYLE----- */

/* ---HEADER--- */

header {
  background-color: #61BC84;
}

.main_logo_image {
  height: 3em;
  width: 3em;
  background: url(../images/ball-icon.png);
  background-size: 3em 3em;
  transition: background .2s linear;
}

.main_logo_text {
  color: white;
  text-decoration: none;
  font-size: 3em;
  font-family: "Mensch Bold", sans-serif;
  transition: color .2s linear;
}

.icon-menu, .icon-cross {
  color: white;
  cursor: pointer;
  font-size: 2.5em;
}

.main_nav ul a {
  font-family: "Mensch", sans-serif;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.main_nav_item {
  border-bottom: 1px solid white;
  transition: background-color .2s linear;
}

.last {
  border-bottom: none;
}

@media (min-width: 50em) {
  .main_nav_item {
    border-bottom: none;
    border-radius: .5em;
  }
}

/* ---HOME--- */


/*-all articles-*/
.home_article {
  text-align: center;
  font-family: "Mensch", sans-serif;
}

.home_article h1 {
  font-size: 3em;
}

.home_article a {
  font-size: 1.5em;
  text-decoration: none;
  transition: background-color .2s linear, color .2s linear, border .2s linear;
}

/*-welcome article-*/

.article_one, .article_three {
  background: url(../images/court1.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

@media (min-width: 50em) {
  .article_one, .article_three {
    background: url(../images/court1.jpg) no-repeat center center fixed;
  }
}

.article_one a, .article_three a {
  color: white;
  border: 1px solid white;
}

.article_one p {
  font-size: 1.5em;
}

/*-players article-*/

.article_two {
  background-color: #e5f3ea;
}

.home_player_card {
  background-color: #BC6661;
  border-radius: .8em;
  text-align: left;
  color: white;
  font-size: 1.2em;
}

.bold {
  font-family: "Mensch Bold", sans-serif;
}

.article_two a {
  color: black;
  border: 1px solid black;
}

/*-courts article-*/

/*.article_three a {
  color: black;
  border: 1px solid black;
}*/

/* ---PEOPLE--- */

.bit-4 {
  border: 1px solid red;
}

/* ---ABOUT--- */

.about_article {
  text-align: center;
  border: 1px solid blue;
}

/* ---FOOTER--- */

footer {
  font-family: "Mensch", sans-serif;
  background-color: #61BC84;
  text-align: center;
  color: white;
  font-size: 1.2em;
}

footer a {
  color: white;
  text-decoration: none;
  font-size: 2em;
  transition: color .2s linear;
}
