/* ----------STYLE---------- */

.bold {
  font-family: "Mensch Bold", sans-serif;
}

/* ----------HEADER---------- */

header {
  background-color: #61BC84;
}

.main_logo_image {
  height: 3em;
  width: 3em;
  background: url(../images/ball-icon.png);
  background-size: 3em 3em;
  transition: background .2s linear;
}

.main_logo_text {
  color: white;
  text-decoration: none;
  font-size: 3em;
  font-family: "Mensch Bold", sans-serif;
  transition: color .2s linear;
}

.icon-menu, .icon-cross {
  color: white;
  cursor: pointer;
  font-size: 2.5em;
}

.main_nav ul a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.main_nav_item {
  border-bottom: 1px solid white;
  transition: background-color .2s linear, box-shadow .2s linear;
}

.last {
  border-bottom: none;
}

@media (min-width: 50em) {
  .main_nav_item {
    border-bottom: none;
    border-radius: .5em;
  }
}

/* ----------HOME---------- */


/*-all articles-*/
.home_article, .about_article, .map_article, .signup_article, .player_article {
  text-align: center;
}

.home_article h1, .about_article h1, .map_article h1, .signup_article h1, .player_article h1 {
  font-size: 3em;
}

.home_article a {
  font-size: 1.5em;
  text-decoration: none;
  transition: background-color .2s linear, color .2s linear, border .2s linear;
}

/*-welcome article-*/

.article_one {
  background: url(../images/court1.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.article_three, .map_article {
  background: url(../images/court2.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

@media (min-width: 50em) {
  .article_one {
    background: url(../images/court1.jpg) no-repeat center center fixed;
  }
  .article_three, .map_article {
    background: url(../images/court2.jpg) no-repeat center center fixed;
  }
}

.article_one a, .article_three a {
  color: white;
  border: 1px solid white;
}

.home_article > p, .about_article > p, .map_article > p, .signup_article > p, .player_article > p {
  font-size: 1.5em;
}

/*-players article-*/

.article_two {
  background-color: #e5f3ea;
}

.home_player_card {
  background-color: white;
  border-radius: .8em;
  text-align: left;
  color: black;
  font-size: .9em;
  transition: box-shadow .2s linear;
}

.home_player_card h2 {
  font-size: 2em;
}

.article_two a {
  color: black;
  border: 1px solid black;
}

/* ----------PLAYERS---------- */

.player_article {
  background: url(../images/court5.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

@media (min-width: 50em) {
  .player_article {
    background: url(../images/court5.jpg) no-repeat center center fixed;
  }
}

.player_article_cards {
  background-color: #e5f3ea;
}

.player_card_info {
  background-color: white;
  border-radius: .8em;
  color: black;
  font-size: 1.2em;
  transition: box-shadow .2s linear;
}

.card_info {
  font-size: 1.2em;
}

.player_card_info h1 {
  font-size: 1.7em;
}

.player_card_info p{
  font-size: .8em;
}

.player_card_info a {
  text-align: center;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  transition: background-color .2s linear, color .2s linear, border .2s linear;
}

/* ----------COURTS---------- */

.map_article_note {
  text-align: center;
  font-size: 1.2em;
}

.map_marker {
  font-family: "Mensch", sans-serif;
  text-align: center;
}

.map_marker h2 {
  font-size: 1.6em;
}

.map_marker p {
  font-size: 1.2em;
}

.map_marker a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  transition: background-color .2s linear, color .2s linear, border .2s linear;

}

/* ----------ABOUT---------- */

.about_article.one {
  background: url(../images/court3.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

@media (min-width: 50em) {
  .about_article.one {
    background: url(../images/court3.jpg) no-repeat center center fixed;
  }
}

.about_article:nth-child(even) {
  background-color: #e5f3ea;
}

.about_article > a {
  font-size: 1.5em;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  transition: background-color .2s linear, color .2s linear, border .2s linear;
}

.about_article li {
  font-size: 1.3em;
}

.created_by p {
  font-size: 2em;
}

/* ----------SIGN UP---------- */

.signup_article.one {
  background: url(../images/court4.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

@media (min-width: 50em) {
  .signup_article.one {
    background: url(../images/court4.jpg) no-repeat center center fixed;
  }
}

.signup_article:nth-child(even) {
  background-color: #e5f3ea;
}

#create-account-form {
  font-size: 1.5em;
}

.form_section {
  text-align: left;
}

.form_section input, .form_section select {
  border: none;
}

.form_section button {
  font-family: "Mensch", sans-serif;
  border: 1px solid black;
  background-color: transparent;
  font-size: 1em;
  transition: background-color .2s linear, color .2s linear, border .2s linear;
}

.ranking_link {
  font-size: .6em;
  color: black;
}

/* ----------FOOTER---------- */

footer {
  background-color: #61BC84;
  text-align: center;
  color: white;
  font-size: 1.2em;
}

footer a {
  color: white;
  text-decoration: none;
  font-size: 2em;
  transition: color .2s linear;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}
