/* -----STYLE----- */

/* ---HEADER--- */

header {
  background-color: grey;
}

.main_logo_image {
  width: 4em;
  height: 4em;
}

@media (min-width: 50em) {

}

/* ---HOME PAGE--- */

.home_article {
  text-align: center;
  border: 1px solid blue;
}

.bit-3 {
  border: 1px solid red;
}

/* ---FOOTER--- */

footer {
  background-color: grey;
  text-align: center;
}
